.container {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

h3 {
    text-align: end;
    color: #2D128A;
}

a {
    text-decoration: none;
}

.image {
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.image img {
    width: 100%;
    object-fit: contain;
    height: auto;
}

.lorem {
    align-items: center;
    justify-items: center;
    width: 100%;
}

.lorem p {
    font-size: 16px;
    margin-bottom: 0.5rem;
    word-spacing: 0.5px;
    font-weight: 600;
}