.header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100vw;
    padding: 25px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 80px;
}

.dropdown-item {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.links-container .toggle {
    display: flex;
    cursor: pointer;
    gap: 1rem;
    flex-direction: row-reverse;
    position: relative;
    padding: 10px;
    z-index: 1;
}

.links-container .links {
    width: 0vw;
    position: fixed;
    right: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    top: 0;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    background-color: whitesmoke;
}

.links-container .responsive-toggle {
    width: 60vw;
    visibility: visible;
    opacity: 1;
}

.links ul {
    list-style: none;
    padding: 10px 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 100%;
    gap: 1rem;
    flex-direction: column;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

a.active {
   color: #0056b3;
   margin-left: 10px;
   margin-right: 10px;
   font-weight: bolder;

}

.links .dropdown-item {
    padding: 10px;
    text-align: left;
}


.links .dropdown-item a:hover {
    color: rgb(245, 0, 41);
}

@media (max-width: 600px) {
    .profile-picture {
        width: 50px;
        height: 50px;
    }

    .links {
        width: 100%;
    }

    .links .dropdown-item {
        padding: 10px 20px;
        text-align: center;
    }
}